body{

background:#ffc1da;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

height:100vh;

}


#heart{

width:80px;

height:80px;

background:red;

border-radius:50%;

position:absolute;

}
