body{

margin:0;

background:black;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.game-card{

width:95vw;

height:95vh;

background:#111;

border-radius:20px;

text-align:center;

padding:20px;

}

#gameArea{

position:relative;

height:70vh;

background:#000;

border-radius:20px;

}

#heart{

width:60px;

height:60px;

background:red;

position:absolute;

border-radius:50%;

}

.hidden{

display:none;

}