body {

background: radial-gradient(circle,#1a1a1d,#0e0e10);

font-family: Poppins;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.card {

background:#121214;

padding:25px;

border-radius:25px;

width:380px;

text-align:center;

}

video {

width:100%;

border-radius:20px;

}

.subtitle {

margin:20px;

font-size:20px;

}

.buttons a {

display:block;

background:#ff8fb1;

padding:15px;

margin:10px;

border-radius:15px;

color:black;

text-decoration:none;

}

.music-btn {

margin-top:15px;

padding:12px;

width:100%;

border:none;

border-radius:15px;

background:#ffd1dc;

}

.gift {

width:100%;

border-radius:20px;

}